body.desktop .fw_col.col1 {
	background: #F8F8F8;
}
.clear {
	clear:both;
}
/*Headline Start
------------------------------------------------*/
.p_headerLine {
	min-height: 44px;
	position:relative;
	padding:15px 17px 16px 22px;
	border-bottom:1px solid #e8e8e8;
	font-size:13px;
	font-weight: 700;
	background:#FFF;
}
.p_headerLine .btnStyle {
	float:left;
	cursor:pointer;
	margin-left:20px;
}
.p_headerLine .btnStyle.leftMargin {
	margin-left: 40px;
}
.plusTextBox {
	color:#46b2e2;
	position:relative;
	float:right;
	display:none;
}
.plusTextBox.active {
	display:block;
}
.plusBox {
	position:absolute;
	width:12px;
	height:12px;
	top:5px;left:-18px;
}
.plusBox .lineV {
	position:absolute;
	top:0;left:5px;
	width:2px;
	height:12px;
	background-color:#46b2e2;
}
.plusBox .lineH {
	position:absolute;
	top:5px;left:0;
	width:12px;
	height:2px;
	background-color:#46b2e2;
}
.plusBox .lineHT {
	position:absolute;
	top:0;left:0;
	width:12px;
	height:2px;
	background-color:#46b2e2;
}
.plusBox .lineHB {
	position:absolute;
	bottom:0;left:0;
	width:12px;
	height:2px;
	background-color:#46b2e2;
}
/*Headline End
------------------------------------------------*/

/*Content Filter Start
-------------------------------------------------*/
.output-filter {
  background:#FFF;
  border-radius:3px;
  border:1px solid #efecec;
  margin-bottom: 15px;
}
.output-filter ul {
	margin: 0;
	padding: 0;
}
.output-filter ul::after {
  display:table;
  content: " ";
  clear:both;
}
.output-filter ul li {
  display:block;
  float:left;
}
.output-filter ul li a {
  display:block;
  color:#3b3c40;
  border-right:1px solid #efecec;
}
.output-filter ul li a:hover,
.output-filter ul li a:focus {
  text-decoration:none;
  color:#3b3c40;
  background:#F8F8F8;
}
.output-filter ul li a .link_wrapper {
  display:block;
  padding:10px 20px;
  font-size:15px;
  border-bottom:3px solid #FFF;
}
.output-filter ul li.active a .link_wrapper {
  border-bottom:3px solid #0095E4;
}
.output-filter ul li a:hover .link_wrapper,
.output-filter ul li a:focus .link_wrapper {
  border-bottom:3px solid #0095E4;
}
.output-filter ul li a .count {
  font-weight:bold;
}
.output-filter-info {
  padding:20px 0 10px 0;
}
.output-filter-info::after {
  display:table;
  content:" ";
  clear:both;
}
.output-filter-info-left {
  float:left;
  width:50%;
}
.output-filter-info-right {
  float:right;
  width:50%;
  text-align:left;
}
.output-filter-info-right input {
  display:block;
  margin-left:3%;
  width:50%;
  float:right;
  border:1px solid #e5e5e5;
  padding:7px;
  outline:0;
}
.p_tableFilter {
  background:#FFF;
  border:1px solid #efecec;
  border-radius:3px;
  border-bottom:none;
}
.p_tableFilter::after {
  clear:both;
  display:table;
  content: " ";
}
.p_tableFilter_left {
  float:left;
  padding: 10px 15px;
  box-sizing: border-box;
}
.p_tableFilter_right {
  float:right;
  padding:10px 15px;
  text-align:right;
  /*border-left:1px solid #efecec;*/
}
.p_tableFilter input {
  font-size:16px;
  padding:6px 10px;
  border-radius:3px;
  border:1px solid #D7D7D7;
  outline:0;
}
.p_tableFilter select {
	font-size:16px;
  padding:5px 10px;
  border-radius:3px;
  border:1px solid #D7D7D7;
  outline:0;
}
.p_tableFilter button {
  font-size:15px;
  background:#0095E4;
  color:#FFF;
  padding:8px 15px;
  border-radius:3px;
  border:none;
  margin: 0 0 0 10px;
}
.p_tableFilter .selectDiv {
  display:inline-block;
  border: 1px solid #e5e5e5;
  border-radius:3px;
  background: #fff;
  color: #5D5D5D;
  position: relative;
}
.p_tableFilter .selectDivWrapper {
  font-size: 14px;
  cursor: pointer;
}
.p_tableFilter .selectDiv .arrowDown {
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #049bec;
  pointer-events: none;
}
.p_tableFilter .selectDiv select {
  /*padding: 6px 25px 6px 10px;*/
  height: auto;
  /*font-size: 14px;*/
  margin: 0;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.p_tableFilter .selectDiv select::-ms-expand {
    display: none;
}
.p_tableFilter .selectDiv select:focus {
    outline: none;
}
.p_tableFilter .selectDiv.selected
{
  margin: 0px 10px 0 10px;
}
.p_tableFilter .selectDiv select {
  padding: 2px 20px 2px 5px;
  /*font-size: 12px;*/
}
.p_tableFilter .selectDiv .arrowDown {
  top: 9px;
}
.p_tableFilter .selectDiv.notSelected {
  color: red;
  border-color: red;
}
.p_tableFilter .selectDiv.notSelected .arrowDown {
  border-top-color: red;
}
.p_tableFilter .selectDiv.selected {
  color: #3b3c40;
  border-color: #3b3c40;
}
.p_tableFilter .selectDiv.selected .arrowDown {
  border-top-color: #3b3c40;
}
.p_tableFilter .selectDiv option {
  color: #000 !important;
}
/*Content Filter END
-------------------------------------------------*/

/*Content Default Start
-------------------------------------------------*/
/* Base for label styling */
#p_container [type="checkbox"]:not(:checked),
#p_container [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
#p_container [type="checkbox"]:not(:checked) + label,
#p_container [type="checkbox"]:checked + label {
	display: inline-block !important;
	position: relative;
	cursor: pointer;
	width: 16px;
	height: 16px;
	margin: 0;
	vertical-align: middle;
}
/* checkbox aspect */
#p_container [type="checkbox"]:not(:checked) + label:before,
#p_container [type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0px;
	width: 16px;
	height: 16px;
	border: 1px solid #68d644;
	background: #fff;
	border-radius: 3px;
}
/* checked mark aspect */
#p_container [type="checkbox"]:checked + label:after {
	content: '✓';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 14px;
	height: 14px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 0.8;
	color: #68d644;
	transition: all .2s;
}
/* checked mark aspect changes */
#p_container [type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
#p_container [type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
#p_container [type="checkbox"]:disabled:not(:checked) + label:before,
#p_container [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
#p_container [type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
#p_container [type="checkbox"]:disabled + label {
	color: #aaa;
}
/* hover style just for information */
#p_container label:hover:before {
	border: 1px solid #4778d9!important;
}

#p_container, #p_container td {
	color: #3B3C4E;
    font-size: 13px;
    font-weight: 500;
}
#p_container .txt-label {
    font-weight: bold;
}
.p_container {
	margin:0 auto;
	padding-top:1px;
}
.p_container .p_containerInner {
}
.p_pageContent {
	border-bottom: 1px solid #efecec;
}
.p_pageTitle {
	font-size: 20px;
	padding: 20px 0px 20px;
}
.p_pageDetails {
	border:1px solid #cecece;
	border-bottom:none;
}
.p_pageDetailsTitle {
	font-size:14px;
	font-weight:bold;
	padding:10px 15px;
	background-color:#fff;
	border-bottom: 2px solid #316896;
}
.p_pageDetailsSubTitle {
	padding: 10px 15px;
	font-size: 13px;
	font-weight: bold;
	background: #F8F8F8;
}
.p_pageDetailsSubTitle.white {
	background: #fff;
}
.p_contentBlock {
	background: #FFF;
	padding:15px;
}
.p_contentBlock_wrapper {
	border-bottom: 2px solid #316896;
}
.p_contentBlockTitle {
	font-weight:bold;
	font-size:15px;
	margin-bottom:15px;
}
.p_contentBlockTitle.show_dropdown {
	cursor: pointer;
	margin-bottom: 0;
}
.p_contentBlockContent.dropdown_content {
	margin-top: 20px;
	display: none;
}
.p_contentBlockContent.dropdown_content .dropdownShowRow a {
	margin-left: 15px;
}
.p_contentBlockTitle .showArrow {
	float: right;
	cursor: pointer;
	color: #0284C9;
}

.addEntryBtn {
	font-size:12px;
	display:inline-block;
	position:relative;
	background:none;
	border:0;
	border-radius:0px;
	padding:0;
	box-shadow: none;
	color:#46b2e2;
	margin-left:15px;
	outline:none;
	font-weight:normal;
}
.addEntryBtn.output-edit-external-customer-id {
	margin-left: 10px;
}
.addEntryBtn:hover,
.addEntryBtn:focus,
.addEntryBtn:active {
	background:none;
	text-decoration: none;
	color:#0284C9;
	outline:none;
}
.addEntryBtn:before {
	display:inline-block;
	position:absolute;
	left:-11px;
	top:-2px;
	font-size:16px;
	content: "+";
	font-weight:bold;
	outline:none;
}
.editBtnBlank {
	display: inline-block;
	padding: 3px 6px;
	border-radius: 3px;
	border:1px solid #46b2e2;
	color:#46b2e2;
	background:none;
	outline:0;
}
.editBtnBlank:focus,
.editBtnBlank:active,
.editBtnBlank:hover {
	border:1px solid #0284C9;
	color:#0284C9;
}
.output-click-helper {
	cursor: pointer;
}
.output-btn {
	display:inline-block;
	padding:3px 6px;
	border-radius:3px;
	border:1px solid #46b2e2;
	color:#46b2e2;
	background:none;
	outline:0;
	margin-left:10px;
	float:none;
}
.output-btn.b-large {
	border-radius:4px;
	font-size:13px;
	line-height:0px;
	padding: 20px 35px;
	font-weight:700;
}
.output-btn.red {
	color:#ffffff;
	border:1px solid #eb3a03;
	background-color:#f35403;
}
.output-btn.blue {
	color:#ffffff;
	border:1px solid #068ad1;
	background-color:#03a1f3;
}
.output-btn:focus,
.output-btn:active,
.output-btn:hover {
	border:1px solid #0284C9;
	color:#0284C9;
}
.output-btn.red:focus,
.output-btn.red:active,
.output-btn.red:hover {
	border:1px solid #999999;
	color:#efefef;
}
.output-btn.blue:focus,
.output-btn.blue:active,
.output-btn.blue:hover {
	border:1px solid #999999;
	color:#efefef;
}
.editBtnIcon {
    border: 0;
    padding: 0;
}
.editBtnIcon:hover,
.editBtnIcon:focus {
    border: 0;
}
/*Content Default End
-------------------------------------------------*/

/* Default table styling Start*/
.gtable {
	table-layout: fixed;
	display:table;
	width:100%;
	color: #3b3c40;
}

.gtable_row {
	display:table-row;
}
.urgentText {
	display: none;
	background: #FF8C00;
	color: #fff;
	padding: 3px 5px;
	margin-bottom: 5px;
}
.gtable_row.urgent .urgentText {
	display: inline-block;
}

.gtable_cell {
	display:table-cell;
	vertical-align:top;
	padding: 10px 10px;
	border: 1px solid #efecec;
	border-top:none;
	border-right:none;
	background:#FFF;
	word-break: break-all;
}
.gtable_cell.c1 {
	width: 20%;
}
.gtable_cell.dateColumn {
	width: 120px;
}

.gtable_cell_head {
	background: #f8f8f8;
	word-break: normal;
}

.gtable_row:first-child .gtable_cell {
	border-top:1px solid #efecec;
}
.gtable_cell:last-child {
	border-right:1px solid #efecec;
}

.gtable_row:hover .gtable_cell {
	background: #fbfbfb;
}
.orderBy {
	cursor: pointer;
}
.gtable_cell_head .orderBy {
	padding: 3px 0px;
}
.ordering {
	display: inline-block;
	vertical-align: middle;
}
.ordering div {
	display: block;
	line-height: 8px;
	color: #46b2e2;
}
.orderActive .ordering div {
	color: #FF4500;
}
.orderOther {
	color: #999;
}
.orderOther2 {
	color: green;
}
.orderOther3 {
	color: red;
}
/* Default table styling END*/

/*Popup Start
---------------------------------------- */
.popupeditbox {
	background-color:#FFFFFF;
	border-radius:4px;
	color:#111111;
	display:none;
	padding:25px 25px 35px;
	width:700px;
}
.popupeditbox .button {
	background-color:#0393ff;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	padding:10px 20px;
	text-align:center;
	text-decoration:none;
}
.popupeditbox .button:hover {
	background-color:#1e1e1e;
}
.popupeditbox .button.b-close,
.popupeditbox .button.bClose {
	position:absolute;
	border: 3px solid #fff;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	padding: 0px 9px;
	font: bold 100% sans-serif;
	line-height: 25px;
	right:-10px;
	top:-10px
}
.popupeditbox .button > span {
	font: bold 100% sans-serif;
	font-size: 12px;
	line-height: 12px;
}
.popupeditbox .popupformTitle {
	font-size: 16px;
	font-weight: bold;
	padding: 0px 0px 10px;
	border-bottom: 1px solid #ededed;
	margin-bottom: 15px;
}
.popupeditbox .popupformname {
	font-size:12px;
	font-weight:bold;
	padding:5px 0px 5px 0px;
}
.popupeditbox .popupforminput .selectDiv {
	border: 0;
}
.popupeditbox input.popupforminput {
	font-size:12px;
	font-weight:normal;
	border:1px solid #CCCCCC;
	width:100%;
}
.popupeditbox input.popupforminput.checkbox {
	width:auto;
}
.popupeditbox select.popupforminput {
	font-size:12px;
	font-weight:normal;
	border:1px solid #CCCCCC;
	width:100%;
}
.popupeditbox textarea.popupforminput {
	font-size:12px;
	font-weight:normal;
	height:100px;
	border:1px solid #CCCCCC;
	width:100%;
}
.popupeditbox .popupformheader {
	color: #000000;
	font-size: 24px;
	padding:5px 0px 5px 0px;
}
.popupeditbox .popupformdesc {
	color: #000000;
	font-size: 12px;
	padding-bottom:10px;
}
.popupeditbox .popupformbtn {
	text-align:right;
	margin:10px;
}
.popupeditbox .popupformbtn input,
.popupeditbox .popupformbtn button {
	border-radius:4px;
	border:none;
	background-color:#0393ff;
	font-size:13px;
	line-height:0px;
	padding: 20px 35px;
	font-weight:700;
	color:#FFF;
	margin-left:10px;
}
.popupeditbox .popupformbtn button.b-close {
	background-color: #fff;
	color: #0393ff;
	border: 1px solid #0393ff;
}
/*Popup css END
---------------------------------------- */
.projectTask {
	float: left;
	padding: 2px 5px;
	margin-right: 2px;
	font-size: 11px;
	position: relative;
	margin-top: 2px;

}
.projectTask:hover .projectTaskHover {
	display: block;
}
.projectTask .projectTaskHover {
	display: none;
	position: absolute;
	top: -100%;
	left: 0;
	background: #fff;
	color: #333;
	z-index: 1;
	padding: 2px 5px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    white-space: nowrap;
}
.projectTask.activeColor {
	background: orange;
	color: #fff;
	text-align: center;
}
.projectTask.inactiveColor {
	background: gray;
	color: #fff;
	text-align: center;
}
.projectTask.finishedColor {
	background: green;
	color: #fff;
	text-align: center;
}
.hoverToSee {
	cursor: pointer;
	position: relative;
}
.hoverMessage {
	display: none;
	position: absolute;
	top: 100%;
	width: 700px;
	padding: 10px 10px;
	background: #fff;
	border: 1px solid #cecece;
	z-index: 10;
	color: #3b3c40;
	word-break: normal;
}
.hoverToSee .messagesCount:hover .hoverMessage {
	display: block;
}
.messagesCount {
	cursor: pointer;
	color: #46b2e2;
}
.lastMessage {
	width: 110px;
}
.lastMessageShowing {
	margin-top: 10px;
}
.ticketColumn {
	width: 110px;
}

.commentBlockHover .employeeImage {
	width: 40px;
	height: 40px;
	overflow: hidden;
	position: relative;
	border-radius: 20px;
	overflow: hidden;
    float: left;
    margin-right: 10px;
}
.commentBlockHover .employeeImage img {
	width: calc(100% + 4px);
	height: auto;
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
}
.commentBlockHover .employeeInfo {
    float: left;
    width: calc(100% - 50px);
}
.commentBlockHover {
    text-align: left;
    width: 100%;
}
.commentBlockHover .inline_info {
    float: left;
    margin-right: 10px;
}
.commentBlockHover .table {
    display: block;
    margin-bottom: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 7px 15px;
    margin-top: 5px;
	background: #f0f0f0;
}
#p_container .commentBlockHover td {
    padding: 2px 10px;
}
.hoverToSee {
	cursor: pointer;
	position: relative;
}
.hoverMessage {
	display: none;
	position: absolute;
	top: 100%;
	width: 700px;
	padding: 10px 10px;
	background: #fff;
	border: 1px solid #cecece;
	z-index: 10;
	color: #3b3c40;
	word-break: normal;
}
.hoverToSee .messagesCount:hover .hoverMessage {
	display: block;
}
.messagesCount {
	cursor: pointer;
	color: #46b2e2;
}
.lastMessageShowing {
	margin-top: 10px;
}
